<h4><%= @link.url %></h4>

<h4><%= @link.token %></h4>

<table class="table">
  <thead>
  <tr>
    <th>IP Address</th>
    <th>created_at</th>
  </tr>
  </thead>
  <tbody>
  <% @link.link_visits.each do |link_visit| %>
    <tr>
      <td><%=  link_visit.ip_address %></td>
      <td><%=  link_visit.created_at %></td>
    </tr>
  <% end %>
  </tbody>
</table>
