<%= form_with url: "links", model: @link do |form| %>
    <div class="row mb-3">
      <%= form.label :url, :class=>"col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= form.text_area :url, :class=>"form-control" %>
      </div>
    </div>
    <div class="col-12">
      <%= form.submit :class=>"btn btn-primary"%>
    </div>
<% end %>